#employee
  %ul
    - @employee.each do |em|
      %li.employee
        = em.employee_name
        = em.card_id 
        = em.phone_num
        = link_to "Show", "/companies/#{@company.id}/employees/#{em.id}"
        = link_to "Edit", "/companies/#{@company.id}/employees/#{em.id}/edit"
        = link_to "Destroy", "/companies/#{@company.id}/employees/#{em.id}", method: :delete
= link_to "Home", "/companies"