#company
  %h2 Update Company
  = simple_form_for @company do |f|
    .field
      = f.input :company_name
    .field
      = f.input :company_address
    .field
      = f.button :submit
    .field
      = link_to "Bake", companies_path